<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to AutoMech!</h1>
    <p>
      Hi "<%= @referral.firstName %>",
      Welcome to AutoMech! You were referred to us by "<%= @customer.email %>"!

      Thanks,
      AutoMech
    </p>
  </body>
</html>
